# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Projekte\docker-github-actions-runner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
